Repository vitonsky/charmix: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, textlint --fix, prettier --write --parser json

feat(#10): implement interactive mode
  src/cli/commands/archetypes.ts
  src/utils.ts
Due: prettier --write, eslint --fix

refactor: split commands to files
  src/archetype/ArchetypeManager.ts
  src/cli/commands/CliCommand.ts
  src/cli/commands/archetype/add.ts
  src/cli/commands/archetype/delete.ts
  src/cli/commands/archetype/list.ts
  src/cli/commands/archetype/use.ts
  src/cli/commands/archetypes.ts
  src/cli/index.ts
Due: prettier --write, eslint --fix

fix(#10): allow default values for required options
  src/cli/commands/archetype/use.ts
Due: prettier --write, eslint --fix

refactor: improve structure of files
  src/archetype/ArchetypeFetcher/FsFetcher.ts
  src/archetype/ArchetypeFetcher/GitFetcher.ts
  src/archetype/ArchetypeFetcher/NpmFetcher.ts
  src/archetype/ArchetypeFetcher/index.ts
  src/archetype/ArchetypeFetcher/utils.ts
  src/archetype/ArchetypeManager.ts
  src/archetype/handlers/HookArchetype.ts
  src/archetype/handlers/StaticTemplateArchetype.ts
  src/cli/commands/archetype/use.ts
  src/repository/ArchetypesRegistry.ts
Due: prettier --write, eslint --fix

refactor(#20): improve repository structure in fs
  src/archetype/ArchetypeFetcher/utils.ts
  src/archetype/ArchetypeManager.ts
  src/archetype/index.ts
  src/repository/ArchetypesRegistry.ts
Due: prettier --write, eslint --fix

feat(#19): fetch archetype while adding
  src/archetype/ArchetypeManager.ts
  src/cli/commands/archetype/add.ts
Due: prettier --write, eslint --fix

feat: delete archetypes from cache while removing
  src/cli/commands/archetype/add.ts
  src/cli/commands/archetype/delete.ts
Due: prettier --write, eslint --fix

feat(#17): add command to update archetypes
  src/cli/commands/archetype/update.ts
  src/cli/index.ts
Due: prettier --write, eslint --fix

feat(#22): provide target directory to a hook
  docs/ArchetypeAPI.md
  src/archetype/handlers/HookArchetype.ts
Due: prettier --write, eslint --fix, prettier --write --parser markdown, textlint --fix

feat(#13): optional path for archetype reference
  src/archetype/ArchetypeManager.ts
  src/archetype/index.ts
  src/cli/commands/archetype/add.ts
  src/repository/ArchetypesRegistry.ts
Due: prettier --write, eslint --fix

chore: remove tmp dir of not valid archetypes
  src/archetype/ArchetypeManager.ts
Due: prettier --write, eslint --fix

chore: add help for `add` command
  src/cli/commands/archetype/add.ts
Due: prettier --write, eslint --fix

chore: ensure subpath for paths
  src/archetype/ArchetypeManager.ts
  src/utils.ts
Due: prettier --write, eslint --fix

chore: remove unnecessary react configs
  .eslintrc
  package.json
  tsconfig.json
Due: prettier --write --parser json

feat(#12): add archetype ts-frontend
  archetypes/ts-frontend/README.md
  archetypes/ts-frontend/archetype.json
  archetypes/ts-frontend/files/.browserslistrc
  archetypes/ts-frontend/files/.commitlintrc.json
  archetypes/ts-frontend/files/.editorconfig
  archetypes/ts-frontend/files/.eslintignore
  archetypes/ts-frontend/files/.eslintrc
  archetypes/ts-frontend/files/.gitignore
  archetypes/ts-frontend/files/.husky/.gitignore
  archetypes/ts-frontend/files/.husky/commit-msg
  archetypes/ts-frontend/files/.husky/pre-commit
  archetypes/ts-frontend/files/.lintstagedrc
  archetypes/ts-frontend/files/.prettierignore
  archetypes/ts-frontend/files/.prettierrc
  archetypes/ts-frontend/files/.stylelintignore
  archetypes/ts-frontend/files/.stylelintrc
  archetypes/ts-frontend/files/.textlintignore
  archetypes/ts-frontend/files/.textlintrc
  archetypes/ts-frontend/files/README.md
  archetypes/ts-frontend/files/jest.config.js
  archetypes/ts-frontend/files/package.json
  archetypes/ts-frontend/files/tsconfig.json
  archetypes/ts-frontend/hook.js
  archetypes/ts-frontend/package.json
  archetypes/ts-frontend/test.js
Due: prettier --write, eslint --fix, prettier --write --parser markdown, textlint --fix, prettier --write --parser json

feat(#12): add archetype archetype
  archetypes/archetype-template/README.md
  archetypes/archetype-template/archetype.json
  archetypes/archetype-template/files/README.md
  archetypes/archetype-template/files/archetype.json
  archetypes/archetype-template/files/files/README.md
  archetypes/archetype-template/files/hook.js
  archetypes/archetype-template/files/package.json
  archetypes/archetype-template/files/test.js
  archetypes/archetype-template/hook.js
  archetypes/archetype-template/package.json
  archetypes/archetype-template/test.js
Due: prettier --write, eslint --fix, prettier --write --parser markdown, textlint --fix, prettier --write --parser json

fix: add dependency to fix types
  package.json
Due: prettier --write --parser json

build: clean package.json
  gulpfile.js
  package.json
  scripts/gulp/cleanPackageJson.js
Due: prettier --write, eslint --fix, prettier --write --parser json

docs: update archetypes how to use
  archetypes/archetype-template/README.md
  archetypes/archetype-template/files/README.md
  archetypes/archetype-template/hook.js
  archetypes/ts-frontend/README.md
Due: prettier --write, eslint --fix, prettier --write --parser markdown, textlint --fix

docs: update readme
  README.md
Due: prettier --write --parser markdown, textlint --fix

docs(#11): add info about archetype template
  docs/ArchetypeAPI.md
Due: prettier --write --parser markdown, textlint --fix

docs(#11): update readme
  README.md
Due: prettier --write --parser markdown, textlint --fix

docs(#11): update archetype API
  docs/ArchetypeAPI.md
Due: prettier --write --parser markdown, textlint --fix

fix: provide test script to archetypes
  archetypes/archetype-template/files/package.json
  archetypes/archetype-template/package.json
  archetypes/ts-frontend/package.json
Due: prettier --write --parser json

docs(#11): add archetypes list
  README.md
  docs/Archetypes.md
Due: prettier --write --parser markdown, textlint --fix

build: replace paths in readme to github links
  gulpfile.js
  package.json
Due: prettier --write, eslint --fix, prettier --write --parser json

docs: fix readme formatting
  README.md
Due: prettier --write --parser markdown, textlint --fix

docs: remove TODOs
  README.md
Due: prettier --write --parser markdown, textlint --fix

refactor(#15): remove debug prints
  src/archetype/handlers/StaticTemplateArchetype.ts
  src/cli/commands/archetype/use.ts
  src/cli/index.ts
Due: prettier --write, eslint --fix

chore: add message about run hook
  src/archetype/handlers/HookArchetype.ts
Due: prettier --write, eslint --fix

0.1.0
  package.json
Due: prettier --write --parser json

chore: remove unnecessary preferGlobal
  package.json
Due: prettier --write --parser json

build: remove unnecessary files from build
  gulpfile.js
Due: prettier --write, eslint --fix

chore: add meta to package.json
  package.json
Due: prettier --write --parser json

0.1.1
  package.json
Due: prettier --write --parser json

docs: use shell annotation for code blocks
  README.md
Due: prettier --write --parser markdown, textlint --fix

docs(#30): add guide how to create archetype
  docs/CreateArchetype.md
Due: prettier --write --parser markdown, textlint --fix

docs(#30): clarify readme
  README.md
Due: prettier --write --parser markdown, textlint --fix

docs(#30): improve style
  README.md
Due: prettier --write --parser markdown, textlint --fix

docs: fix style of archetypes docs
  archetypes/archetype-template/README.md
  archetypes/ts-frontend/README.md
Due: prettier --write --parser markdown, textlint --fix

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx}
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write --parser markdown: any of: *.{md,mdx}
  textlint --fix: any of: *.{md,mdx}
  prettier --write --parser json: any of: *.json
