Repository vitonsky/charmix: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, textlint --fix, prettier --write --parser json

chore: add license
  LICENSE
Due: none

refactor: move code to typescript
  package.json
  src/main.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

build: configure building with gulp
  gulpfile.js
  package.json
Due: prettier --write, eslint --fix, prettier --write --parser json

build: add watch mode
  gulpfile.js
  package.json
Due: prettier --write, eslint --fix, prettier --write --parser json

refactor: split code to modules
  .gitignore
  src/archetype.ts
  src/main.ts
  src/repository/fetcher.ts
  src/utils.ts
Due: prettier --write, eslint --fix

build: don't check types for dev mode
  gulpfile.js
  package.json
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: fix packages versions
  package.json
Due: prettier --write --parser json

refactor: implement archetype manifest reader
  src/archetype.ts
Due: prettier --write, eslint --fix

refactor: split code to modules
  src/archetype/StaticTemplateArchetype.ts
  src/archetype/index.ts
  src/archetype/utils.ts
  src/main.ts
  src/repository/ArchetypeFetcher/GitFetcher.ts
  src/repository/ArchetypeFetcher/index.ts
Due: prettier --write, eslint --fix

build: remove unnecessary packages
  package.json
  src/utils.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

refactor: move CLI to module
  src/archetype/StaticTemplateArchetype.ts
  src/cli/index.ts
  src/main.ts
Due: prettier --write, eslint --fix

docs: update readme
  README.md
Due: prettier --write --parser markdown, textlint --fix

feat: implement hook to configure data
  src/archetype/HookArchetype.ts
  src/archetype/index.ts
  src/archetype/utils.ts
  src/cli/index.ts
  src/main.ts
Due: prettier --write, eslint --fix

build: use esnext target
  tsconfig.json
Due: prettier --write --parser json

feat: implement prepareCommand option
  src/archetype/HookArchetype.ts
  src/archetype/index.ts
  src/cli/index.ts
  src/utils.ts
Due: prettier --write, eslint --fix

build: update deps
  package.json
Due: prettier --write --parser json

chore: extends CriticalError
  src/utils.ts
Due: prettier --write, eslint --fix

feat: improve errors handling
  src/archetype/HookArchetype.ts
  src/cli/index.ts
Due: prettier --write, eslint --fix

refactor: move CLI handlers to class and parse parameters
  src/archetype/HookArchetype.ts
  src/cli/commands/CliCommand.ts
  src/cli/commands/CommandArchetypes.ts
  src/cli/commands/CommandUse.ts
  src/cli/index.ts
  src/main.ts
Due: prettier --write, eslint --fix

feat: provide parameters to hook
  src/archetype/HookArchetype.ts
  src/cli/commands/CommandUse.ts
Due: prettier --write, eslint --fix

chore: validate hook type
  src/archetype/HookArchetype.ts
Due: prettier --write, eslint --fix

build: add dev files to dev build
  gulpfile.js
  src/archetype/utils.ts
Due: prettier --write, eslint --fix

fix: attach version argument to a main comand
  src/cli/index.ts
Due: prettier --write, eslint --fix

docs: add info about archetype API
  docs/ArchetypeAPI.md
Due: prettier --write --parser markdown, textlint --fix

feat(#8): implement fs fetcher for type `local`
  src/archetype/index.ts
  src/cli/commands/CommandUse.ts
  src/repository/ArchetypeFetcher/FsFetcher.ts
Due: prettier --write, eslint --fix

feat(#8): implement fetcher for type `npm`
  package.json
  src/archetype/index.ts
  src/cli/commands/CommandUse.ts
  src/repository/ArchetypeFetcher/NpmFetcher.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

refactor: rm old cache while preparing cache directory
  src/repository/ArchetypeFetcher/FsFetcher.ts
  src/repository/ArchetypeFetcher/GitFetcher.ts
  src/repository/ArchetypeFetcher/NpmFetcher.ts
  src/repository/ArchetypeFetcher/utils.ts
Due: prettier --write, eslint --fix

feat(#7): implement archetypes storage
  src/cli/commands/CommandUse.ts
  src/repository/ArchetypeFetcher/NpmFetcher.ts
  src/repository/ArchetypesRegistry.ts
  src/validation.ts
Due: prettier --write, eslint --fix

chore: use paths relative root of package
  package.json
  src/cli/index.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

refactor: implement commands builder
  src/cli/commands/CliCommand.ts
  src/cli/commands/CommandUse.ts
  src/cli/index.ts
Due: prettier --write, eslint --fix

refactor: move archetypes handlers to one class
  src/cli/commands/CliCommand.ts
  src/cli/commands/CommandArchetypes.ts
  src/cli/commands/archetypes.ts
  src/cli/index.ts
Due: prettier --write, eslint --fix

feat(#6): add commands to manage repository
  src/cli/commands/archetypes.ts
  src/cli/index.ts
Due: prettier --write, eslint --fix

feat: add program name to help prints
  src/cli/index.ts
Due: prettier --write, eslint --fix

feat: add option to specify directory to apply archetype
  src/cli/commands/archetypes.ts
Due: prettier --write, eslint --fix

chore: add validation for archetype manifest file
  src/archetype/utils.ts
Due: prettier --write, eslint --fix

feat: implement types for archetype options
  src/archetype/index.ts
  src/archetype/utils.ts
Due: prettier --write, eslint --fix

fix: types for archetype options
  src/archetype/utils.ts
Due: prettier --write, eslint --fix

feat(#9): ensure specifying a required options
  src/cli/commands/archetypes.ts
Due: prettier --write, eslint --fix

feat: add archetype summary
  src/archetype/index.ts
  src/archetype/utils.ts
  src/cli/commands/archetypes.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx}
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write --parser markdown: any of: *.{md,mdx}
  textlint --fix: any of: *.{md,mdx}
  prettier --write --parser json: any of: *.json
