Repository vitonsky/charmix: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, textlint --fix, prettier --write --parser json

refactor: rename archetype-template to archetype
  archetypes/archetype/README.md
  archetypes/archetype/archetype.json
  archetypes/archetype/files/README.md
  archetypes/archetype/files/archetype.json
  archetypes/archetype/files/files/README.md
  archetypes/archetype/files/hook.js
  archetypes/archetype/files/package.json
  archetypes/archetype/files/test.js
  archetypes/archetype/hook.js
  archetypes/archetype/package.json
  archetypes/archetype/test.js
  docs/ArchetypeAPI.md
  docs/Archetypes.md
  docs/CreateArchetype.md
Due: prettier --write, eslint --fix, prettier --write --parser markdown, textlint --fix, prettier --write --parser json

chore: add keywords to archetypes
  archetypes/archetype/files/package.json
  archetypes/archetype/package.json
  archetypes/ts-frontend/package.json
Due: prettier --write --parser json

0.1.2
  package.json
Due: prettier --write --parser json

build: modify relative paths only to docs dir
  gulpfile.js
Due: prettier --write, eslint --fix

0.1.3
  package.json
Due: prettier --write --parser json

build: use gulp-clean-package
  gulpfile.js
  package.json
  scripts/gulp/cleanPackageJson.js
Due: prettier --write, eslint --fix, prettier --write --parser json

build: fix paths to github
  gulpfile.js
Due: prettier --write, eslint --fix

0.1.4
  package.json
Due: prettier --write --parser json

build: fix path to docs
  gulpfile.js
Due: prettier --write, eslint --fix

0.1.5
  package.json
Due: prettier --write --parser json

feat(#35): update archetypes by names
  src/cli/commands/archetype/update.ts
Due: prettier --write, eslint --fix

feat(#34): implement exclude files
  src/archetype/handlers/StaticTemplateArchetype.ts
  src/archetype/index.ts
  src/archetype/utils.ts
Due: prettier --write, eslint --fix

docs(#34): update API declaration
  docs/ArchetypeAPI.md
Due: prettier --write --parser markdown, textlint --fix

0.1.6
  package.json
Due: prettier --write --parser json

build: add bin file to build for mac
  gulpfile.js
  package.json
Due: prettier --write, eslint --fix, prettier --write --parser json

0.1.7
  package.json
Due: prettier --write --parser json

feat(#39): add skipLibCheck for ts-frontend
  archetypes/ts-frontend/archetype.json
  archetypes/ts-frontend/files/tsconfig.json
Due: prettier --write --parser json

chore(#40): update email in LICENSE
  LICENSE
Due: none

chore(#42): remove scope case rule
  archetypes/ts-frontend/files/.commitlintrc.json
Due: prettier --write --parser json

chore(#42): update ignore files
  archetypes/ts-frontend/files/.eslintignore
  archetypes/ts-frontend/files/.gitignore
  archetypes/ts-frontend/files/.prettierignore
  archetypes/ts-frontend/files/.stylelintignore
Due: none

chore(#42): make package-lock are public
  archetypes/ts-frontend/files/.gitignore
Due: none

chore(#42): configure eslint to sort imports
  archetypes/ts-frontend/files/.eslintrc
  archetypes/ts-frontend/files/package.json
Due: prettier --write --parser json

feat(#42): add github actions
  archetypes/archetype/files/.github/dependabot.yml
  archetypes/archetype/files/.github/workflows/codeql-analysis.yml
Due: none

feat(#42): add index file in src directory
  archetypes/ts-frontend/files/src/index.ts
Due: prettier --write, eslint --fix

chore(#42): use eslint config from root
  .lintstagedrc
Due: none

chore(#42): update eslint version
  archetypes/ts-frontend/files/package.json
  package.json
Due: prettier --write --parser json

chore(#42): rename ts-frontend to typescript
  README.md
  archetypes/typescript/README.md
  archetypes/typescript/archetype.json
  archetypes/typescript/files/.browserslistrc
  archetypes/typescript/files/.commitlintrc.json
  archetypes/typescript/files/.editorconfig
  archetypes/typescript/files/.eslintignore
  archetypes/typescript/files/.eslintrc
  archetypes/typescript/files/.gitignore
  archetypes/typescript/files/.husky/.gitignore
  archetypes/typescript/files/.husky/commit-msg
  archetypes/typescript/files/.husky/pre-commit
  archetypes/typescript/files/.lintstagedrc
  archetypes/typescript/files/.prettierignore
  archetypes/typescript/files/.prettierrc
  archetypes/typescript/files/.stylelintignore
  archetypes/typescript/files/.stylelintrc
  archetypes/typescript/files/.textlintignore
  archetypes/typescript/files/.textlintrc
  archetypes/typescript/files/README.md
  archetypes/typescript/files/jest.config.js
  archetypes/typescript/files/package.json
  archetypes/typescript/files/src/index.ts
  archetypes/typescript/files/tsconfig.json
  archetypes/typescript/hook.js
  archetypes/typescript/package.json
  archetypes/typescript/test.js
  docs/Archetypes.md
Due: prettier --write, eslint --fix, prettier --write --parser markdown, textlint --fix, prettier --write --parser json

chore(#42): use lint-staged config from root
  .husky/pre-commit
Due: none

chore(#42): use lint-staged config from root for archetype
  archetypes/typescript/files/.husky/pre-commit
Due: none

chore(#42): configure jest
  archetypes/typescript/files/jest.config.js
  archetypes/typescript/files/package.json
  archetypes/typescript/files/scripts/jest/setupFiles/index.js
Due: prettier --write, eslint --fix, prettier --write --parser json

chore(#42): remove browserslist script
  archetypes/typescript/files/package.json
Due: prettier --write --parser json

chore(#42): add deps
  archetypes/typescript/files/package.json
Due: prettier --write --parser json

chore(#42): remove browserslist file
  archetypes/typescript/files/.browserslistrc
Due: none

chore(#42): move github files to ts archetype
  archetypes/typescript/files/.github/dependabot.yml
  archetypes/typescript/files/.github/workflows/codeql-analysis.yml
Due: none

feat: update archetype name
  archetypes/typescript/archetype.json
Due: prettier --write --parser json

docs: update archetype readme
  archetypes/typescript/README.md
Due: prettier --write --parser markdown, textlint --fix

chore: remove non general use linters
  archetypes/typescript/files/.lintstagedrc
  archetypes/typescript/files/.stylelintignore
  archetypes/typescript/files/.stylelintrc
  archetypes/typescript/files/.textlintignore
  archetypes/typescript/files/.textlintrc
  archetypes/typescript/files/package.json
Due: prettier --write --parser json

feat: add spell checker
  archetypes/typescript/files/.eslintrc
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx}
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write --parser markdown: any of: *.{md,mdx}
  textlint --fix: any of: *.{md,mdx}
  prettier --write --parser json: any of: *.json
